*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* *************************** Navbar ****************************************** */

.uv_padding{
    padding: 0px 13.75rem;
    list-style: none;
    text-decoration: none;
}
.uv_padding_2{
    padding: 0px 6.87rem;
    list-style: none;
    text-decoration: none;
}
.first_navbar{
    color: white;
    width: 94.95rem;
    height:3.13rem;
    background-color: rgb(227,24,55);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.745);

}
.nav_logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_logo a{
    text-decoration: none;
    color: white;
}
.email_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.email_logo p{
    margin: 0;
}
.fa-brands, .fa-regular{
    padding: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
}
.fa-regular{
    color: rgb(240,148,52);
}
.fa-brands:hover{
  color: brown;
}
.fa-regular:hover{
    color: brown;
}
.navbar_menu a{
    text-decoration: none;
    color: black;
}
.second_navbar{
    width: 94.95rem;
    height: 4.93rem;
    color: white;
    background-color: rgb(227,24,55);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second_navbar_log{
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    width: 22.87rem;
    height: 3.43rem;
    border-radius: 0.62rem;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.second_navbar_log p{
    margin: 0;
    font-size: 2.18rem;
    font-family: 'Kaushan Script', cursive;
    color: rgba(255, 255, 255, 0.819);
}
.navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.navbar_menu a{
    padding: 0px 1.56rem;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    color: white;
}

.navbar_menu span{
    padding: 0px 0px;
    font-weight: 500;
    font-size: 1.125rem;
    color: white;
    height: 2.25rem;
    width: 9.37rem;
    text-align: center;
    border-radius: 0.37rem;
    align-items: unset;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.navbar_menu a:hover{
    color: brown;
}
.second_navbar_log p:hover{
   color: rgb(0, 0, 0);

}







.hamburger-menu{
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


















  